/* :root {
  --bslib-sidebar-main-bg: #f8f8f8;
} */

/* .popover {
  --bs-popover-header-bg: #222;
  --bs-popover-header-color: #fff;
} */

/* .popover .btn-close {
  filter: var(--bs-btn-close-white-filter);
} */

.card-text {
  position: absolute;
  margin-bottom: 0;
  height: calc(100% - var(--bs-card-spacer-y));
  width: 100%;
  opacity: 0.8;
  top: 0;
  left: 0;
  z-index: 2;
}

.card-body {
  position: relative;
}

.card-text ~ #plot_incidence .user-select-none.svg-container {
  display: none;
}